

.main-wrap {
    position: relative;
}

img {
    width: 100%;
}

.bg {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}

.back {
    position: absolute;
    width: 10%;
    left: 2%;
    top: 3%;
}


.left-wrap {
    position: absolute;
    width: 21.64%;
    height: 80.13%;
    left: 4.53%;
    top: 15%;
}

.matts {
    position: absolute;
    width : 92.85%;
    height: 40%;
    left: 5%;
    top: 1.85%;
}

.terms {
    display: flex;
    flex-direction: column;
    width: 92.3%;
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 6vw;
    line-height: 6vw;
    color: #292929;
    font-family: "kaiTi";
    text-align: center;
}


.terms-2 {
    display: flex;
    flex-direction: column;
    width: 61.19%;
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 6vw;
    line-height: 6vw;
    color: #292929;
    font-family: "kaiTi";
    text-align: center;
}


.terms-ciyu {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    text-align: center;
    /* letter-spacing:3px; */
    white-space: nowrap;
}

.terms-ciyu-zi {
    display: inline-block;
    font-size: 6vw;
}

.terms-ciyu-zi-2 {
    display: inline-block;
    font-size: 6vw;
    width: 50%;
}

.display-flex-colomn-terms {
    display: flex;
    flex-direction: column;
    width: 92.7%;
    align-content: center;
    margin: 5% auto 0;
}

.terms-basic {
    text-align: left;
    color: #33ADBB;
    font-size: 2.6vw;
    margin-bottom: 3%;
    font-family: "STYuanti-SC-Regular";
}

.terms-basic-content {
    color: #4D4545;
}

.terms-more-hanyi {
    display: flex;
}

.terms-more-zaoju {
    display: flex;
}

.hanyi-num {
    color: #fff;
    display: inline-block;
    font-size: 1.8vw;
    width: 3vw;
    height: 3vw;
    text-align: center;
    line-height: 3vw;
    border-radius: 100%;
    background-color: #33ADBB;
    margin-left: 5px;
    margin-right: 3%;
    position: relative;
    top: -0.5vw;
}

.zaoju-num {
    color: #fff;
    display: inline-block;
    font-size: 1.8vw;
    width: 3vw;
    height: 3vw;
    text-align: center;
    line-height: 3vw;
    border-radius: 100%;
    background-color: #33ADBB;
    margin-left: 5px;
    margin-right: 3%;
    position: relative;
    top: -0.5vw;
}

.terms-pinyin {
    /* display: flex;
    flex-direction: row;
    justify-content:space-around; */
    color: #E2BD97;
    font-size: 2vw;
    text-align: center;
    line-height: 3vw;
    white-space: nowrap;
    /* word-spacing: 20px; */
}

.terms-pinyin span {
    display: inline-block;
    width: 33.33%;
}

.terms-pinyin-2 {
    width: 100%;
    color: #E2BD97;
    font-size: 2vw;
    text-align: center;
    line-height: 3vw;
    white-space: nowrap;
}

.terms-pinyin-2 span {
    display: inline-block;
    width: 50%;
}


.tab-wrap {
    /* border: 1px solid red; */
    width: 64.06%;
    height: 80.13%;
    position: absolute;
    top: 15%;
    left: 30.47%;
}

.display-flex-colomn {
    display: flex;
    flex-direction: column;
}


.display-flex-colomn-title {
    font-family: "STYuanti-SC-Regular";
    color:#33ADBB;
    font-size: 4vw;
    text-align: left;
    margin-left: 5.3%;
    margin-top: 3%;
}

.hr {
    width: 69.13%;
    height: 1px;
    background-color: #D1DDDD;
    margin-left: 5.3%;
    margin-top: 3%;
    margin-bottom: 5%;
}

.display-flex-colomn-content {
    width: 94.87%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    color: #312626;
    margin-left: 4%;
    margin-top: 4%;
    font-size: 2.8vw;
    text-align: left;
    /* width: 100%; */
    height: inherit;
}

.display-flex-colomn-content-terms{
    width: 94.87%;
    color: #4D4545;
    /* margin-left: 5.3%; */
    font-size: 3vw;
    text-align: left;
}

.terms-shiyi {
   color: #4D4545;
}

.terms-item {
    /* flex-wrap: wrap; */
    display: inline-block;
    max-width: 100%;
    word-break: break-all;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
}

.terms-item-in {
    width: 109%;
    /* height: 80%; */
    position: absolute;
    margin-left: 2.6%;
    margin-top: 4.95%; 
    /* overflow: hidden;
    overflow-y: scroll; */
}

.terms-item-in::-webkit-scrollbar { width: 0 !important }

.terms-cizu-in {
    display: inline-block;
    text-align: center;
    width: 17.58%;
    height: 14%;
    white-space: nowrap;
    margin-right: 7.3%;
    margin-bottom: 5.71%;
    background-color: #F0F6F7;
    border-radius:5px;
}


.terms-cizu {
    display: inline-block;
    text-align: center;
    width: 17.58%;
    height: 10.67%;
    white-space: nowrap;
    margin-right: 7.3%;
    margin-bottom: 5.71%;
}

.words {
    margin: 5px 2vw 5px 0;
    font-size: 2.8vw;
}






